@font-face {
    font-family: 'AlegreyaSansSC';
    src: local('AlegreyaSansSC'), local('AlegreyaSansSC'),
         url('../font/AlegreyaSansSC/alegreyasanssc-thin.woff2') format('woff2'),
         url('../font/AlegreyaSansSC/alegreyasanssc-thin.woff') format('woff'),
         url('../font/AlegreyaSansSC/alegreyasanssc-thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}

@font-face {
    font-family: 'AlegreyaSansSC';
    src: local('AlegreyaSansSC'), local('AlegreyaSansSC'),
         url('../font/AlegreyaSansSC/alegreyasanssc-regular.woff2') format('woff2'),
         url('../font/AlegreyaSansSC/alegreyasanssc-regular.woff') format('woff'),
         url('../font/AlegreyaSansSC/alegreyasanssc-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway'), local('Raleway'),
         url('../font/Raleway/Raleway-Regular.woff2') format('woff2'),
         url('../font/Raleway/Raleway-Regular.woff') format('woff'),
         url('../font/Raleway/Raleway-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
    font-family: 'Monoton';
    src: local('Monoton'), local('Monoton'),
         url('../font/Monoton/Monoton-Regular.woff2') format('woff2'),
         url('../font/Monoton/Monoton-Regular.woff') format('woff'),
         url('../font/Monoton/Monoton-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
