header {
  position         : fixed;
  width            : 100%;
  background-color : rgba(0, 0, 0, 0.9);
  font-family      : 'AlegreyaSansSC',
                     'sans-serif';
}

header a {
  box-sizing      : border-box;
  padding         : 15px 10px;
  color           : white;
  border-bottom   : 3px solid transparent;
  text-decoration : none;
  font-size       : 1.6em;
  font-weight     : 200;
  transition      : all .5s;
  cursor          : pointer;
}

header a:not(.icon):hover {
  border-bottom : 3px solid white;
}

header a.icon {
  padding         : 15px;
}

header a.icon:hover {
  background-color: white;
  color: black;
}

.topnav {
}

.topnav .icon {
  display : none;
}

@media screen
       and (max-width : 780px) {

  header {
    text-align: left;
  }

  .topnav a:not(:first-child) {
    display : none;
  }

  .topnav a.icon {
    display : block;
    float   : right;
  }

  .topnav.responsive {
    position : fixed;
  }

  .topnav.responsive .icon {
    position : absolute;
    top      : 0;
    right    : 0;
  }

  .topnav.responsive a {
    display    : block;
    float      : none;
    text-align : left;
  }
}
