body {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  font-family: 'Raleway', 'sans-serif';
  font-size: 14px;
  font-weight: 300;
}

section {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.section {
  display: table;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section>div {
  display: table-cell;
  padding: 60px 40px;
  vertical-align: middle;
}

.section h2 {
  padding: 40px 0;
  font-family: 'AlegreyaSansSC', 'sans-serif';
  font-size: 4em;
  font-weight: 200;
}

.message {
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 20px;
  max-width: 250px;
  padding-right: 30px;
}

.message .close {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: bold;
  font-size: 1.2em;
  font-family: monospace;
}

.message .close:hover {
  color: white;
}

.error {
  background-color: #d38c8c;
}

.success {
  background-color: #98da9b;
}

.section.inicial {
  background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/background/back-home.jpg');
}

.section.inicial p.text {
  padding-top: 40px;
  color: white;
  opacity: 0.5;
  text-transform: uppercase;
  font-family: 'Monoton';
  font-size: 4.3em;
}

.section p.text {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 1.5em;
}

.logo-area {
  display: table-cell;
  vertical-align: middle;
}

.logo {
  width: 50%;
  min-width: 350px;
  margin: 0 auto;
}

.section.evento,
.section.patrocinadores {
  background-image: url('../img/background/back-evento.png');
}

.section.organizadores {
  color: white;
  background-image: url('../img/background/back-organizadores.png');
}

.section.organizadores .title {
  color: gray;
  font-size: 1.5em;
}

.section.organizadores .info {
  color: #070404;
  font-size: 2em;
}

.section.programacao {
  color: white;
  background-image: url('../img/background/back-programacao.png');
}

.section.confirmacao {
  color: white;
  background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/background/back-confirmacao.jpg');
}

.section.contato {
  color: white;
}

.contato .contact-text {
  text-align: left;
}

.contato .contact-text a {
  color: white;
}

.white-box {
  padding: 20px 40px;
  background-color: white;
  vertical-align: middle;
}

.white-box .text {
  padding: 20px 0;
}

.logo-org {
  display: inline-block;
  width: 300px;
  height: 150px;
  margin: 10px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.logo-org.lg {
  width: 350px;
  height: 200px;
}

.logo-org.md {
  width: 300px;
  height: 150px;
}

.logo-org.sm {
  width: 200px;
  height: 80px;
}

.logo-org.sm-2 {
  width: 220px;
  height: 125px;
}

.section.programacao .table {
  padding-top: 90px;
  background-color: rgba(133, 173, 81, 0.5);
}

.table li {
  display: inline-block;
  width: 15%;
  min-width: 210px;
  padding: 5px;
  vertical-align: top;
  transition: background-color 0.5s;
}

.table li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.table li .title {
  width: 100%;
  color: #070404;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.5em;
  line-height: 50px;
}

.table li .body-1 {
  width: 100%;
  margin-top: 5px;
  color: #070404;
  background-color: rgba(255, 255, 255, 0.8);
  line-height: 40px;
}

.table li .body-2 {
  width: 100%;
  height: 150px;
  margin-top: 5px;
  padding: 10px;
  color: gray;
  background-color: rgba(255, 255, 255, 0.7);
}

.col {
  box-sizing: border-box;
  width: 45%;
  float: left;
}

.col.left {
  padding-right: 50px;
  text-align: right;
}

.col.right {
  padding-left: 50px;
  text-align: left;
}

.col.col-2-of-3 {
  box-sizing: border-box;
  width: 65%;
  float: left;
}

.col.col-1-of-3 {
  box-sizing: border-box;
  width: 35%;
  float: left;
}

.col .row {
  box-sizing: border-box;
  clear: both;
  padding: 20px 0;
  text-align: center;
}

.col .row p {
  text-align: center;
}

.conf-form {
  width: 100%;
  max-width: 500px;
}

.conf-form label {
  display: block;
  margin: 10px 0;
  text-align: left;
}

.conf-form input[type="email"],
.conf-form input[type="text"] {
  display: block;
  width: 100%;
  min-width: 250px;
  margin: 10px 0;
  padding: 10px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
}

.conf-form input[type="submit"] {
  padding: 10px;
  color: black;
  border: none;
  background-color: rgb(133, 173, 81);
}

@media screen and (max-width: 1180px) {
  .col {
    width: 100% !important;
    padding: 0 !important;
    text-align: center !important;
  }
  .contato .contact-text {
    text-align: center;
  }
}

@media screen and (max-width: 780px) {
  .logo {
    width: 80% !important;
  }
}

@media screen and (max-width: 640px) {
  .section>div {
    padding: 40px 10px;
  }
  .white-box {
    padding: 25px 0;
  }
}

@media screen and (max-width: 510px) {
  body {
    font-size: 13px;
  }
  .section h2 {
    font-size: 3em;
  }
  .logo-org {
    width: 90%;
  }
  .logo-org.lg {
    width: 90%;
  }
  .logo-org.md {
    width: 90%;
  }
  .logo-org.sm {
    width: 90%;
  }
  .logo-org.sm-2 {
    width: 90%;
  }
}

.confirmations {
  background-color: white;
  padding: 30px;
}

.confirmations table {
  margin-top: 30px;
}

.confirmations table tr {
  text-align: left;
}

.confirmations table tr:nth-child(even) {
  background-color: #cccccc;
}

.confirmations table td {
  border-bottom: 1px solid gray;
  padding: 5px;
}

.confirmations table thead {
  background-color: #ddd;
}

.confirmations table thead th {
  padding: 10px;
}

footer {
  padding: 20px 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
    color: white;
}

footer a {
  cursor: pointer;
}

footer .space {
  width: 50px;
}