<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<title>HFW</title>

	<link rel="stylesheet" href="assets/css/reset.css">
	<link rel="stylesheet" href="assets/css/font.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/header.css">

	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/scripts.js"></script>

	<% if (anchor) {  %>
		<script>
			window.onload = window.location.hash = '<%=anchor%>';
		</script>
		<% } %>
</head>

<body>
	<header class="topnav">
		<a href="#inicial">Inicial</a>
		<a href="#evento">Evento</a>
		<a href="#organizadores">Organizadores</a>
		<a href="#programacao">Programação</a>
		<a href="#confirmacao">RSVP</a>
		<a href="#apoiadores">Apoiadores</a>
		<a href="#contato">Contato</a>
		<a href="javascript:void(0);" class="icon" onclick="openMenu();">&#9776;</a>
		<% if (error) {  %>
			<span class="message error"><%= error %><span class="close" onclick="closeMessage()">X</span></span>
			<% } %>
				<% if (success) {  %>
					<span class="message success"><%= success %><span class="close" onclick="closeMessage()">X</span></span>
					<% } %>
	</header>

	<section>
		<article class='section inicial' id="inicial">
			<div class="logo-area">
				<img class='logo' src="assets/img/logo.png"></img>
				<p class='text'>8 a 13 de maio</p>
			</div>

		</article>

		<article class='section evento' id="evento">
			<div>
				<h2>O Evento</h2>
				<p class="text">O Hospitalhaços Fashion Week é uma semana de moda com desfiles, apresentações de musicais, exposições de looks e muita
					solidariedade, porque isso nunca sai da moda! </p>
				<p class="text">Com programação de segunda a sábado, você tem a oportunidade de conhecer mais sobre o nosso Bazar Permanente, doar roupas
					e brinquedos para a ONG, acompanhar o trabalho dos estudantes e voluntários da Esamc e comprar os looks dos desfiles.
				</p>


			</div>

		</article>

		<article class='section organizadores' id="organizadores">
			<div>
				<h2>Organizadores</h2>
				<div class="white-box">
					<div class="col left col-1-of-3">
						<div class="row">
							<p class="title">Madrinha</p>
							<p class="info">Sandra Ciocci</p>
						</div>
						<div class="row">
							<p class="title">Realização</p>
							<div class='logo-org lg' style="background-image: url('assets/img/logo-hospitalhacos.png');"></div>
						</div>
					</div>
					<div class="col right col-2-of-3">
						<div class="row">
							<p class="title">Comissão organizadora</p>
							<div class='logo-org sm-2' style="background-image: url('assets/img/realizacao/realizacao-logo-1.png');"></div>
							<div class='logo-org md' style="background-image: url('assets/img/realizacao/realizacao-logo-3.png');"></div>
							<div class='logo-org sm-2' style="background-image: url('assets/img/realizacao/realizacao-logo-2.jpg');"></div>
							<div class='logo-org sm' style="background-image: url('assets/img/realizacao/realizacao-logo-4.png');"></div>
							<div class='logo-org sm-2' style="background-image: url('assets/img/realizacao/realizacao-logo-5.png');"></div>
						</div>
					</div>
					<div style="clear:both"></div>
				</div>
			</div>

		</article>

		<article class='section programacao' id="programacao">
			<div>
				<h2>Programação</h2>
				<center>
					<div class="white-box table">
						<ul>
							<li>
								<div class="title">08/05 (seg)</div>
								<div class="body-1 place">Esamc – Unidade 2</div>
								<div class="body-1 hour">19h30</div>
								<div class="body-1">Aberto ao público</div>
								<div class="body-2">Abertura do evento, com musical, sorteio de prêmios e desfile de looks produzidos pelos alunos de Moda da Esamc </div>
							</li>
							<li>
								<div class="title">09/05 (ter)</div>
								<div class="body-1 place">Esamc – Unidade 2</div>
								<div class="body-1 hour">19h30</div>
								<div class="body-1">Aberto ao público</div>
								<div class="body-2">Exposição de looks produzidos pelos alunos de Moda da Esamc, de acordo com o tema "Felicidade, um estilo de vida"</div>
							</li>
							<li>
								<div class="title">10/05 (qua)</div>
								<div class="body-1 place">Tênis Clube de Campinas</div>
								<div class="body-1 hour">19h30</div>
								<div class="body-1">Somente convidados</div>
								<div class="body-2">Desfile com acessórios e roupas de festa, selecionados para leilão após o evento </div>
							</li>
							<li>
								<div class="title">11/05 (qui)</div>
								<div class="body-1 place">Esamc – Unidade 2</div>
								<div class="body-1 hour">19h30</div>
								<div class="body-1">Aberto ao público</div>
								<div class="body-2">Exposição de looks produzidos pelos alunos de Moda da Esamc, de acordo com o tema "Felicidade, um estilo de vida"

								</div>
							</li>
							<li>
								<div class="title">13/05 (sáb)</div>
								<div class="body-1">Shopping Valinhos</div>
								<div class="body-1">19h</div>
								<div class="body-1">Aberto ao público</div>
								<div class="body-2">Encerramento do evento, com musical, e desfile de looks customizados pelos alunos de Moda da Esamc, a partir das
									doações recebidas pelo Bazar Permanente da Hospitalhaços </div>
							</li>
						</ul>
						<p>
							Entrada: doação de brinquedos, novos ou usados em bom estado
						</p>
					</div>
				</center>
			</div>

		</article>

		<article class='section confirmacao' id="confirmacao">
			<div>
				<h2>RSVP</h2>
				<div class="col left">
					<p class="text">A sua presença vai trazer um brilho especial ao nosso evento!</p>
					<p class="text">Confirmação de presença para o dia 10/05, no Tênis Clube.</p>
					<br>

					<p class="text">Quer fazer parte desse momento?<br> Entre em contato pelo telefone (19) 3237-2603 ou pelo e-mail <i>eventos@hospitalhacos.org.br</i></p>
				</div>
				<div class="col right">
					<center>
						<form class="conf-form" action="/confirmation" method="POST">
							<label>Nome *</label>
							<input required type="text" name="name">
							<label>E-mail *</label>
							<input required type="email" name="email">
							<label>Código (recebido no convite) * </label>
							<input required type="text" name="codigo">
							<input type="submit" value="Confirmar">
						</form>
					</center>
				</div>
			</div>

		</article>

		<article class='section patrocinadores' id="apoiadores">
			<div>
				<h2>Apoiadores</h2>
				<div class="white-box">

					<div class='logo-org' style="background-image: url('assets/img/apoio/apoio-logo-1.png');"></div>
					<div class='logo-org' style="background-image: url('assets/img/apoio/apoio-logo-2.jpg');"></div>
					<div class='logo-org' style="background-image: url('assets/img/apoio/apoio-logo-3.png');"></div>
					<div class='logo-org' style="background-image: url('assets/img/apoio/apoio-logo-4.jpg');"></div>

					<p class="text">Seja também nosso <b>apoiador</b>, entre em contato pelo e-mail
						<u>eventos@hospitalhacos.org.br</u>
					</p>

				</div>
			</div>

		</article>

		<article class='section contato' id="contato">
			<div>
				<h2>Contato</h2>
				<div class="col col-2-of-3">
					<div class="row">
						<img class='logo' src="assets/img/logo-hospitalhacos-white.png"></img>
					</div>
				</div>
				<div class="col col-1-of-3">
					<div class="row">
						<div class="contact-text">
							<p><big><b>Sede Administrativa</b></big></p><br>
							<p>Av. Governador Pedro de Toledo, 950 | Bonfim - Campinas / SP <br> CEP 13070-751</p><br>
							<p>Fone: (19) 3237-2603</p><br>
							<p>Horário de funcionamento:</p>
							<p>Segunda a Sexta: 9h às 18h</p>
							<p>Sábado: 9h às 12h</p><br><br>

							<p><big><b>Bazar</b></big></p><br>
							<p>Av. Governador Pedro de Toledo, 507 | Bonfim - Campinas / SP <br> CEP 13070-752</p><br>
							<p>Fone: (19) 3234-3076</p><br>
							<p>Horário de funcionamento:</p>
							<p>Segunda a Sexta: 9h às 17h</p>
							<p>Sábado: 9h às 12h</p><br><br>

							<p><big><a href="http://www.hospitalhacos.org.br/ ">hospitalhacos.org.br</a></big></p>
						</div>
					</div>
				</div>
				<footer>
					Hospitalhaços 2017 - Todos os direitos reservados / <span class="space"></span> Desenvolvido por <a href="https://about.me/adrianomaringolo">Adriano Maringolo</a>
				</footer>
			</div>
		</article>


	</section>


	<script>
		function openMenu() {
			$('.topnav').toggleClass('responsive');
		}

		function closeMessage() {
			$('.message').fadeOut();
		}
	</script>
</body>

</html>